<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
    .top {
      margin-top: 2em;
    }
  </style>
</head>

<body ng-app='formsApp'>
  <div class='container'>
    <div class='top'>
      <h1>Form Validations</h1>
      <div class='top' ng-controller='ValidationController as VC'>
        <form name='myForm' ng-submit='VC.submitUser()' action='#' novalidate>
          <div>
            <!--USERNAME -->
            <div class="form-group" >
              <label for="username" class='control-label'>Username: </label>
              <input ng-model='VC.username' class="form-control" name='username' type="text" id="username"
              ng-minlength='3'/>
              <div class='help-block' ng-messages='myForm.username.$error'>
                <p ng-message='minlength'>
                  Username is too short.
                </p>
              </div>
            </div>
            <!--PASSWORD -->
            <div class="form-group" >
              <label for="password" class='control-label'>Password: </label>
              <input ng-model='VC.password' class="form-control" name='password' type="text" id="password"
              ng-minlength='3'/>
              <div class='help-block' ng-messages='myForm.password.$error'>
                <p ng-message='minlength'>
                  Password is too short.
                </p>
              </div>
            </div>

          </div>
          <div>
            <!-- Put in json format in a pre tag TODO de-bug! -->
            <!-- <pre>
              {{myForm.$error | json}}
            </pre> -->
            <!-- {{myForm.$valid}} -->
            <input type="button" class='btn btn-success' value="Submit!" ng-disabled='!myForm.$valid' />
          </div>
        </form>
      </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <!-- Angular -->
      <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js'></script>
      <!-- load ngmessages -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
      <script src='app.js'></script>
</body>

</html>
